/*
Theme Name: Sustainablewatt Solutions
Template: kadence
Theme URI: http://sustainablewattsolutions.co.uk
Author: Fardin Ahmed
Author URI: https://github.com/devfardin
Description: Sustainablewatt Solutions is a premium, modern WordPress theme built for sustainable energy businesses, renewable energy companies, and green technology providers. Designed with a clean layout, bold typography, and eco-friendly visuals, it offers seamless integration, responsive design, fast performance, and easy customization. Perfect for businesses offering solar solutions, wind energy, battery storage, and sustainable energy services.
Version: 1.0.0
Text Domain: sustainablewatt-solutions
Tags: sustainable, energy, solar, renewable, green, eco-friendly, minimal, clean, responsive, business, technology, modern, premium, cms, blog

*/